*{
    margin: 0;
    padding: 0;
    background-color: #e5e9f2 ;
    overflow-y: hidden;
}
a{
    color: black;
    text-decoration: none;
    
}
aside a{
    color: black ;
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
ul {
    list-style: none;
    
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conteiner {
    display: flex;
    padding-right: 30px;
    justify-content: space-between;

}
.conteiner ul{
    display: flex;    
      
}
.conteiner li{
    display: flex;
    padding-right: 30px;
}
.lateral ul{
 top: 70px;
 position: absolute;   
 background-color: white ;
}

input[type="checkbox"]{
    display: none;
    
}
input[type="checkbox"]:checked ~ nav{
    transform: translateX(350px);
    
}

.lateral nav{
    background-color: white ;
    position: absolute;
    left: -350px;
    width: 350px;
    height: 100%;
    transition: all .5s;
}
.lateral a {
    background-color: white ;
    display: block;
    padding-left: 120px;
}
.lateral label{
    z-index: 1;
    padding-left: 15px;
    padding-top: 15px;
    
}
.lateral li{
    padding-top: 35px;
    background-color: white ;
}
textarea{
    resize: none;
}
main{
    padding-top: 10px;
    padding-left: 300px;
    border-top: 2px solid #969697 ;
}
main form {
   
    display: flex; 
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px solid #545455  ;
    width: 50em;    
    box-shadow: #545455 ;
    flex-direction:row;
    
    gap: 0;
}
select{
    border-radius: 3px;
    background-color: #545455 ;
    color: white ;
    width: 10em;
    padding-left: 5px;
}
select option{
    
    background-color: #545455 ;
    color: white ;
    
}

form .final{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-primary{
    height: 40px;
}

main form .gpnome{
    padding-top: 10px;
    border: #545455 ;
}

.btn-s{
    padding: 5px 20px 5px 5px;
    background-color: aqua ;
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    
}
main form .final{
    
    padding-left: 25px; 
    
}


main form .descricao{
    padding-left: 10px;
    margin-bottom: 15px;
}
footer{
    margin-top: auto;
}

.rodape p {
    display: flex;
    justify-content: center;
    height: 3em;
    border-top: 2px solid #969697 ;
}
dialog{
    margin: auto;
}

@media screen and (max-width: 800px) {
    
    .conteiner{
        display: none;
    }
    main{
        display: flex;       
        font-size: 100%;
        padding: 5px 5px 5px 5px;
        margin: 0%;
        padding-bottom: 15em;
    }
    .arq{
        display: none;
    }
    .principal{
        padding-top: 5em;
    }
    main form .descricao{
        padding-left: 5px;
    }
    main form .final{
        padding-right: 250px;
    }
    .rodape p {
        display: flex;
        flex-wrap: wrap;
        font-size: 130%;
        
        
    }
}