*{
    margin: 0;
    padding: 0;
    background-color: #e5e9f2;
}
a{
    color: black;
    text-decoration: none;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style: none;
    
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conteiner {
    display: flex;
    padding-right: 30px;
    justify-content: space-between;

}
.conteiner ul{
    display: flex;    
      
}
.conteiner li{
    display: flex;
    padding-right: 30px;
}
.lateral ul{
 top: 70px;
 position: absolute;   
 background-color: white;
}

input[type="checkbox"]{
    display: none;
    
}
input[type="checkbox"]:checked ~ nav{
    transform: translateX(350px);
    
}

.lateral nav{
    background-color: white;
    position: absolute;
    left: -350px;
    width: 350px;
    height: 100%;
    transition: all .5s;
}
.lateral a {
    background-color: white;
    display: block;
    padding-left: 120px;
}
.lateral label{
    z-index: 1;
    padding-left: 15px;
    padding-top: 15px;
    
}
.lateral li{
    padding-top: 35px;
    background-color: white;
}

.avatar{
    width: 100px;
    align-items: center;
    float: left;
    
}

.header{
display: flex;
align-items: center;
justify-content: space-evenly;
}

.box_amigos {
    display:flex ;
    justify-content:space-between;
    width: 20%;
    margin: 100px auto;

}

.dropdown {

    padding-left: 800px;
}

.teste {
 
     padding-left: 120px;

}




@media screen and (max-width: 800px) {
    .conteiner{
        display: none;
    }
}